@using Recollectable.API.ViewModels
@model AccountEmailViewModel

@{ 
    ViewData["EmailHeaderLink"] = "https://drive.google.com/uc?id=1fQ9SWTzf3qFlhOEMRnGzSXuPk91G5OEC";
}

<p align="justify" style="margin: 0px;">
    Hi @Model.UserName, we're excited to see you joining Recollectable. You're just a click away
    to complete your registration. To do so, simply click on the button below.
</p>
@await  Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm email address", Model.Url))
<p style="margin: 0px;">
    Kind regards
</p>
<p style="margin: 0px;">
    The Recollectable Team
</p>