@using Recollectable.API.ViewModels
@model AccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Reset";
}

<p align="justify" style="margin: 0px;">
    Hi! Someone (hopefully you) requested their Recollectable password to be reset.
    To do so, simply click on the button below.
</p>
@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Reset password", Model.Url))
<p style="margin: 0px;">
    Kind regards
</p>
<p style="margin: 0px;">
    The Recollectable Team
</p>