@using Recollectable.API.ViewModels
@model AccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome";
}

<p style="margin: 0px; padding-bottom: 15px;">
    Hi @Model.UserName
</p>
<p align="justify" style="margin: 0px; padding-bottom: 15px;">
    The name's Mike, founder of Recollectable, and I'd like to welcome you to our collectors
    community! We're excited to embrace you as a member and hope you'll look forward to share
    your digital collection with friends and family. Adding that one special item makes it all
    worthwhile.
</p>
<p align="justify" style="margin: 0px; padding-bottom: 15px;">
    A few tips to get Recollectable ready:
</p>
<p align="justify" style="margin: 0px; padding: 0px 0px 15px 45px;">
    - Manage your collections digitally.
</p>
<p align="justify" style="margin: 0px; padding: 0px 0px 15px 45px;">
    - Find your collectable in the catalogue and get a value estimation.
</p>
<p align="justify" style="margin: 0px; padding: 0px 40px 15px 45px;">
    - Share your collection with friends, family, and other collectors! You can do so by sharing the link to 
      your personal profile, which is <a href="www.facebook.com" target="_blank">www.recollectable.com/@Model.UserName</a>
</p>
<p align="justify" style="margin: 0px; padding-bottom: 15px;">
    In case you have any questions or issues, just check out our <a href="www.google.com" target="_blank">Help Center</a>
</p>
<p style="margin: 0px; padding-bottom: 15px;">
    Once again, thanks for joining and keep on collecting!
</p>
<p style="margin: 0px;">
    Mike Joosten
</p>
<p style="margin: 0px;">
    Founder of Recollectable
</p>
<p style="margin: 0px; padding-bottom: 15px;">
    <a href="www.facebook.com" target="_blank">mike@recollectable.com</a>
</p>
<p style="margin: 0px;">
    <a href="www.google.com" target="_blank">www.recollectable.com</a>
</p>